<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech-Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="body">
    <header class="header">
      <h1>The Tech-Blog</h1>
    </header>
    <hr class="solid">
        <nav>
                {{#if logged_in}}


                  <div class="logo"><a id="homepage" href="/">Home</a></div>
                  <a href="/profile">Dashboard</a>
                <button id="logout">Log Out</button>

                {{else}}
                
                <div class="logo"><a id="homepage" href="/">Home</a></div>
                <a href="/profile">Dashboard</a>
                <a class="login" href="/login">Log In</a>

                {{/if}}

            </nav>
    </div>
    
        <main>
            {{{body}}}
        </main>

        <footer>
        </footer>

    
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>
</html>